<div class="header_spacer"></div>
<div class="header_01">
  <form>
    Søg: <input type="text" name="search" /><a href="#">Søg</a> | Sorter: afspilninger <input type="checkbox" name="hejshejs" />
  </form>
</div>
<div class="header_spacer"></div>
