<div class="header_spacer"></div>
<div class="header_01">
  <form>
    Søg: <input type="text" name="search" /><a href="#">Søg</a> | Sorter: afspilninger <input type="checkbox" name="hejshejs" />
  </form>
</div>
<div class="main_spacer"></div>
<div class="post_container">
  <% @posts.each do |p| %>
    <div class="post">
      <h1 style="margin:0px;padding:0px;"><%= p.title %></h1>
      <p><%= p.content %></p>
      <small><%= p.created_at %></small>
    </div>
    <div class="post_spacer"></div>
  <% end %>
</div>